h1 {
  text-align: center;
  color: red;
  background-image: url("1.jpg") ;
  background-repeat: no-repeat;
}

h2 {
  text-align: center;
  color: red;
  background: rgba(0, 128, 0, 0.3)
}

p {
  text-align: center;
  color: rgb(116, 13, 235);
  opacity: 0.3;
  background-color: teal;
  border: 2px solid #ff6347;
}

body {
  background-image: url("background1.jpg") ;
  /* background-repeat: no-repeat; */
  /* background-position: right top; */
  background-attachment: scroll;
}